body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(4, 17, 53);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    font-size: 2em;
    margin: 20px 0px;
}

footer{
    font-size: 1.5em;
    position: absolute;
    bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 250px;
    border-radius: 10px;
}

.sexo{
    margin: 10px 0px;
}